@keyframes paymentSlider1 {
  0% {transform: translateX(100%)}
  100% {transform: translateX(-100%)}
}

  .app-casinos-casinocard {
  min-width:75%;
  max-width:75%;
  height: fit-content;
  
  margin: 4vh auto;
  padding: 2vh;

  display: flex;
  flex-direction: column;
  // justify-content:center;

  font-size: 2vh;
  font-family: 'Sriracha', cursive;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.5);

  svg {
    width: 2.5vh;
    height: 2.5vh;
  }

  .app-casinos-casinocard-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 15vh;
   

    padding-bottom: 2vh;

     img {
      min-width: 80%;
      max-width: 80%;
      min-height: 100%;
      max-height: 100%;
      // width:  100px;
      // height: 100px;
      object-fit: cover;
     }
  }

  .app-casinos-casinocard-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.2vh;

    .app-casinos-casinocard-info-stars {


      div:nth-of-type(2) {
        display: flex;
        align-items: center;
      }
      .app-casinos-casinocard-info-stars-heading {
        display: flex; 
        align-items: center; 
        gap: 5%;

        span {
          font-size: 1.5vh;
        }
      }

      .app-casinos-casinocard-info-stars-main {
        font-size: 2vh;
        text-align: center;

        .app-casinos-casinocard-info-stars-main-rating {
          font-family: var(--fontRobotoMono);
          font-weight: 400;
          font-size: 1.5vh;
          min-width: 50%;
          max-width: 50%;
        }
      }
    }
  
    .app-casinos-casinocard-info-bonus {
      .app-casinos-casinocard-info-bonus-heading {
        display: flex; 
        align-items: center; 
        gap: 5%;

        span {
          font-size: 1.5vh;
        }
      }

      .app-casinos-casinocard-info-bonus-main {
        text-align: center;
        font-size: 2.5vh;

        ul {
          // min-height: 16vh;
          font-family: var(--fontStaatliches);
          list-style-type: none;
        }
      }
    }
  
    .app-casinos-casinocard-info-payments {
      overflow:hidden; 
           
      .app-casinos-casinocard-info-payments-heading {
        display: flex; 
        align-items: center; 
        gap: 5%;

        span {
          font-size: 1.5vh;
        }
      }

      .app-casinos-casinocard-info-payments-icons {
        display: flex;
        // background-color: #fff;
        padding: .5vh 0;
        div {
          margin-right: 1vh;
          width: fit-content;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          
          svg {
          // min-width: 4vh;
          // min-height: 4vh;
            rect {
              display: none;
            }
          }
        }

        div#first {
          animation-name: paymentSlider1;
          animation-duration: 10s;
          // animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        div#second {
          animation-name: paymentSlider2;
          animation-duration: 10s;
          // animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    } 
  }
  
    .app-casinos-casinocard-button {
      width: 100%;
      border: solid black 1px;
      border-radius: 2rem;
      padding: 4%;
      margin: 0 auto;

      text-align: center;
      
      font-size: 3.2vh;
      font-family: var(--fontStaatliches);
      letter-spacing: .2rem;
      cursor: pointer;

      background-color: #7ca318;
      background-image: linear-gradient(to right,#c8cd45, #d4380c);
      
      --interval: 1s;
      animation: flicker steps(100) var(--interval) 1s infinite;

      transition: .3s;
       &:hover {
        transform: scale(1.03);
       }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
  .app-casinos-casinocard {
    min-width:75%;
    max-width:75%;
    height: fit-content;
    
    margin: 4vw auto;
    padding: 2vw;
  
    display: flex;
    flex-direction: column;
    // justify-content:center;
  
    font-size: 2vw;
    font-family: 'Sriracha', cursive;
    color: #fff;
  
    background-color: rgba(0, 0, 0, 0.5);
  
    svg {
      width: 2.5vw;
      height: 2.5vw;
    }
  
    .app-casinos-casinocard-avatar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width:100%;
      min-height: 15vw;
     
  
      padding-bottom: 2vw;
  
       img {
        min-width: 80%;
        max-width: 80%;
        min-height: 100%;
        max-height: 100%;
        // width:  100px;
        // height: 100px;
        object-fit: cover;
       }
    }
  
    .app-casinos-casinocard-info {
      width: 100%;
  
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 1.2vw;
  
      .app-casinos-casinocard-info-stars {
  
  
        div:nth-of-type(2) {
          display: flex;
          align-items: center;
        }
        .app-casinos-casinocard-info-stars-heading {
          display: flex; 
          align-items: center; 
          gap: 5%;
  
          span {
            font-size: 1.5vw;
          }
        }
  
        .app-casinos-casinocard-info-stars-main {
          font-size: 2vw;
          text-align: center;
  
          .app-casinos-casinocard-info-stars-main-rating {
            font-family: var(--fontRobotoMono);
            font-weight: 400;
            font-size: 1.5vw;
            min-width: 50%;
            max-width: 50%;
          }
        }
      }
    
      .app-casinos-casinocard-info-bonus {
        .app-casinos-casinocard-info-bonus-heading {
          display: flex; 
          align-items: center; 
          gap: 5%;
  
          span {
            font-size: 1.5vw;
          }
        }
  
        .app-casinos-casinocard-info-bonus-main {
          text-align: center;
          font-size: 2.5vw;
  
          ul {
            // min-height: 16vh;
            font-family: var(--fontStaatliches);
            list-style-type: none;
          }
        }
      }
    
      .app-casinos-casinocard-info-payments {
        overflow:hidden; 
             
        .app-casinos-casinocard-info-payments-heading {
          display: flex; 
          align-items: center; 
          gap: 5%;
  
          span {
            font-size: 1.5vw;
          }
        }
  
        .app-casinos-casinocard-info-payments-icons {
          display: flex;
          // background-color: #fff;
          padding: .5vw 0;
          div {
            margin-right: 1vw;
            width: fit-content;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            
            svg {
            // min-width: 4vh;
            // min-height: 4vh;
              rect {
                display: none;
              }
            }
          }
  
          div#first {
            animation-name: paymentSlider1;
            animation-duration: 10s;
            // animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          div#second {
            animation-name: paymentSlider2;
            animation-duration: 10s;
            // animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      } 
    }
    
      .app-casinos-casinocard-button {
        width: 100%;
        border: solid black 1px;
        border-radius: 2rem;
        padding: 4%;
        margin: 0 auto;
  
        text-align: center;
        
        font-size: 3.2vw;
        font-family: var(--fontStaatliches);
        letter-spacing: .2rem;
        cursor: pointer;
  
        background-color: #7ca318;
        background-image: linear-gradient(to right,#c8cd45, #d4380c);
        
        --interval: 1s;
        animation: flicker steps(100) var(--interval) 1s infinite;
  
        transition: .3s;
         &:hover {
          transform: scale(1.03);
         }
      }
  }
}

@media (min-width: 768px) {
  .app-casinos-casinocard {
    // width
    min-width:30%;
    max-width:30%;
    margin: 4vh auto;
    padding: 2vh;
  
    display: flex;
    // row wrap
    // flex-direction: row delete
    flex-wrap: wrap;
    // center
    align-items: center;
  
    font-size: 2vh;
    font-family: 'Sriracha', cursive;
    color: #fff;
  
    background-color: rgba(0, 0, 0, 0.5);
  
    svg {
      // 1.5vh
      width: 1.5vh;
      height: 1.5vh;
    }
  
    .app-casinos-casinocard-avatar {
      display: flex;
      justify-content: center;
  
      padding-bottom: 2vh;
  
       img {
        width: 70%;
       }
    }
  
    .app-casinos-casinocard-info {
      width: 100%;
  
      display: flex;
      flex-direction: column;
      gap: 1.2vh;
  
      .app-casinos-casinocard-info-stars {
  
  
        div:nth-of-type(2) {
          display: flex;
          align-items: center;
        }
        .app-casinos-casinocard-info-stars-heading {
          display: flex; 
          align-items: center; 
          gap: 5%;
  
          span {
            font-size: 1.5vh;
          }
        }
  
        .app-casinos-casinocard-info-stars-main {
          font-size: 2vh;
  
          .app-casinos-casinocard-info-stars-main-rating {
            font-family: var(--fontRobotoMono);
            font-weight: 400;
            // 1vh
            font-size: 1vh;
            min-width: 50%;
            max-width: 50%;
          }
        }
      }
    
      .app-casinos-casinocard-info-bonus {
        .app-casinos-casinocard-info-bonus-heading {
          display: flex; 
          align-items: center; 
          gap: 5%;
  
          span {
            font-size: 1.5vh;
          }
        }
  
        .app-casinos-casinocard-info-bonus-main {
          text-align: center;
          font-size: 2.5vh;
  
          ul {
            font-family: var(--fontStaatliches);
            list-style-type: none;
          }
        }
      }
    
      .app-casinos-casinocard-info-payments {
        .app-casinos-casinocard-info-payments-heading {
          display: flex; 
          align-items: center; 
          gap: 5%;
  
          span {
            font-size: 1.5vh;
          }
        }
        .app-casinos-casinocard-info-payments-icons {

        }
    
      }
    
      .app-casinos-casinocard-button {
        width: 100%;
        border: solid black 1px;
        border-radius: 2rem;
        padding: 4%;
        margin: 0 auto;
  
        display: flex;
        justify-content: center;
        
        font-size: 3.2vh;
        font-family: var(--fontStaatliches);
        letter-spacing: .2rem;
  
        background-color: #7ca318;
        background-image: linear-gradient(to right,#c8cd45, #d4380c);
        
        --interval: 1s;
        animation: flicker steps(100) var(--interval) 1s infinite;
      }
    }
  }
}